body{
    background-color: black;
}

/* signin design html form */

.logo-img{
    width:200px;
    height: 150px;
}

.signin-container{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin-button{
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;   

}


input{
    margin: 5px;
    font-size: large;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    color: black !important;
}

input:hover{
    border: 3px solid rgb(53, 158, 210) ; 
}

.signin-button a{
    text-decoration: none;
}

.btn-signin{
    height: 40px;
    background-color: rgb(68, 109, 167);
    width: 100%;
    border-radius: 5px;
}

.btn-signin:hover{
    border: 2px solid white;
    cursor: pointer;
    color:white;
}


/* signup design css part start here */


.signup-container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-button{
    width: 100%;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.signup-button >*{
    width: 100%;
    text-align: center;
    margin-top: 8px;
    /* border: 2px solid red; */
}

.signup-button div {
    width: 100%;
    overflow: hidden;
    /* background-color: red; */
    /* border: 2px solid red; */
}

.signup-button span .btn{
    text-decoration: none !important;
}

.signup-button span .btn:hover{
    color:white;
}

.signup-button div>button{
    width: 100%;
    padding: 5px;
    background-color: rgb(17, 88, 154);
    font-size: large;
    cursor: pointer;
}

.signup-button div>button:hover{
    border:1px solid white;
    border-radius: 5px;
}