body{
    background-color: #84DCCF;
}

.signin-container {
      max-width: 400px;
      margin: auto;
      padding: 20px;
      background-color: #90e0d3;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
    .logo-img {
      max-width: 200px;
      margin-bottom: 20px;
    }
    .input-field {
      margin-bottom: 20px;
    }
    .btn-signin {
      width: 100%;
    }
    .messages {
      list-style-type: none;
      padding: 0;
      margin-bottom: 20px;
    }
    .messages li {
      color: red; /* Customize based on message type */
    }