<!-- Footer -->
<!-- Social Media -->
<footer>
  <div class="social-profiles">
    <a class="facebook" href="#">
      <img src="https://img.icons8.com/fluency/36/000000/facebook-new.png" />
    </a>
    <a class="twitter" href="#">
      <img src="https://img.icons8.com/fluency/36/000000/twitter.png" />
    </a>
    <a class="instagram" href="#">
      <img src="https://img.icons8.com/color/36/000000/instagram-new--v1.png" />
    </a>
  </div>

  <p>
    &copy;
    <script>
      document.write(new Date().getFullYear());
    </script>
    On1i
  </p>
</footer>
