{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <title>Home Page</title>
  </head>
  <body>
    <div class="home-container">
      <img src="{% static 'images/logo.png' %}" alt="logo image" />
      <div class="home-link-contain">
        <a class="btn" href="{% url 'signin' %}">Sign In</a>
        <a class="btn" href="{% url 'signup' %}"> Sign Up</a>
      </div>
    </div>
  </body>
</html>
