{% extends "users/base.html" %} {% load static %} {% block title %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<title>On1i</title>
{% endblock title %} {% block content %}
<body>
  <div class="home-container">
    <img src="{% static 'images/logo.png' %}" alt="logo image" />
    <div class="home-link-contain">
      <a class="btn" href="{% url 'signin' %}">Sign In</a>
      <a class="btn" href="{% url 'signup' %}"> Sign Up</a>
    </div>
  </div>
</body>
{% endblock content %}
