{% extends "users/base.html" %} {% load static %} {% block title %}
<title>Link Page</title>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{% static 'css/linkpage.css' %}" />
{% endblock title %} {% block content %}
<!-- this div box contain the link box to with which we have shown the url link  -->
<nav class="navbar navbar-expand-lg navbar-custom p-3 bg-dark text-white">
  <a class="navbar-brand pl-3" href="/"
    ><img
      class="bg-dark"
      src="{% static 'images/logo.png' %}"
      style="width: 100px"
      alt="On1i image"
  /></a>
  <button
    class="navbar-toggler text-white"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon bg-secondary"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      {% if user_name %}
      <li class="nav-item pl-2 text-center">
        <a class="nav-link text-white" href="{% url 'home-page' %}"
          >Home Page</a
        >
      </li>
      <li class="nav-item pl-2 text-center">
        <a class="nav-link text-white" href="{% url 'logout' %}">Logout</a>
      </li>

      {% comment %}
      <li class="nav-item pl-2 text-center">
        <a
          class="nav-link text-white copy-link-btn"
          href="{% url 'public-link' encrypted_user_name=encrypted_user_name %}"
          >Copy</a
        >
      </li>
      {% endcomment %}

      <li class="nav-item pl-2 text-center">
        <button
          class="btn btn-link text-decoration-none text-white copy-link-btn"
          data-link="{{copy_link}}{{user_name}}"
        >
          Copy Link
        </button>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>

<!-- Main Content -->
<main class="container text-center my-4">
  <!-- Your main content goes here -->
  <div id="link-container">
    {% for item,value in linked_data.items %}
    <li class="link-box">
      <img src="{% static value.channel_icon %}" alt="image-icon" />
      <a href="{{value.personal_url}}">{{item}}</a>
    </li>
    {% endfor %}
  </div>
</main>

<!--<div id="link-container">
  {% for item,value in linked_data.items %}
  <li class="link-box">
    <img src="{% static value.channel_icon %}" alt="image-icon" />
    <a href="{{value.personal_url}}">{{item}}</a>
  </li>
  {% endfor %}
</div>-->

<!-- Footer -->
<footer id="ftr" class="text-center bg-dark text-white mt-auto pt-2">
  <div class="container">
    <div class="social-profiles mb-3">
      <a class="facebook" href="#">
        <img src="https://img.icons8.com/fluency/36/000000/facebook-new.png" />
      </a>
      <a class="twitter" href=" https://www.facebook.com/on1iapp">
        <img src="https://img.icons8.com/fluency/36/000000/twitter.png" />
      </a>
      <a class="instagram" href=" https://www.instagram.com/on1iapp/">
        <img
          src="https://img.icons8.com/color/36/000000/instagram-new--v1.png"
        />
      </a>
    </div>
    <p>
      &copy;
      <script>
        document.write(new Date().getFullYear());
      </script>
      On1i
    </p>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const copyLinkBtn = document.querySelector(".copy-link-btn");

    if (copyLinkBtn) {
      copyLinkBtn.addEventListener("click", () => {
        const linkToCopy = copyLinkBtn.getAttribute("data-link");

        navigator.clipboard
          .writeText(linkToCopy)
          .then(() => {
            // Show a success message or any UI update indicating successful copy
            console.log("Link copied to clipboard");
          })
          .catch((err) => {
            console.error("Failed to copy the public link: ", err);
          });
      });
    }
  });
</script>

{% endblock content %}
